<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065301372579-chuoshrdabcnpohidq6mkadmvlc5lbf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065301372579-chuoshrdabcnpohidq6mkadmvlc5lbf9</string>
	<key>API_KEY</key>
	<string>AIzaSyD1WnwW1jJthHyHgZZ8WOBTOCm2krKot-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1065301372579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abe.ImageUploader</string>
	<key>PROJECT_ID</key>
	<string>iospro-2a857</string>
	<key>STORAGE_BUCKET</key>
	<string>iospro-2a857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065301372579:ios:6730139471090a60f4d916</string>
	<key>DATABASE_URL</key>
	<string>https://iospro-2a857.firebaseio.com</string>
</dict>
</plist>